<ng-template [ngIf]="isCalculated">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="list-group-item clearfix" style="margin-top: 30px">
        <p>BMR : {{ bmr }} Cal</p>
        <p>Total calories per day: {{ totalCal }} Cal</p>
        <p>Your goal calrories per day: {{ goalCal }} Cal</p>
        <p>Recommend Daily Nutrient :</p>
        <p>Protein intake: {{ proteinIntake }}g , {{ proteinCal }} cal</p>
        <p>Carbohydrate intake: {{ carbIntake }}g , {{ carbCal }} cal</p>
        <p>Fat intake: {{ fatIntake }}g , {{ fatCal }} cal</p>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="calForm" (ngSubmit)="onCalculate()">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <label for="goal" style="padding-top: 30px">Your goal :</label>
            <select class="form-control" id="goal" formControlName="goal">
              <option value="diet">weight loss</option>
              <option value="stable">maintain weight</option>
              <option value="gain">gian weight</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <label for="sex">Sex :</label>
          <div class="form-group">
            <div class="form-check-inline radio-inline">
              <input
                class="form-check-input"
                type="radio"
                name="sex"
                id="male-sex"
                formControlName="sex"
                value="male"
              />
              <label class="form-check-label" for="male-sex">Male</label>
            </div>
            <div class="form-check-inline radio-inline">
              <input
                class="form-check-input"
                type="radio"
                name="sex"
                id="female-sex"
                formControlName="sex"
                value="female"
              />
              <label class="form-check-label" for="female-sex">Female</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="text"
              id="age"
              formControlName="age"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <label for="weight">Weight (kg)</label>
            <input
              type="text"
              id="weight"
              formControlName="weight"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <label for="height">Height (cm)</label>
            <input
              type="text"
              id="height"
              formControlName="height"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <label for="goal">Exercise :</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exercise"
                formControlName="exercise"
                id="exampleRadios1"
                value="1.2"
                checked
              />
              <label class="form-check-label" for="exampleRadios1">
                Very light - little to no exercise
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exercise"
                formControlName="exercise"
                id="exampleRadios2"
                value="1.375"
              />
              <label class="form-check-label" for="exampleRadios2">
                Light - 1-3 hours per week
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exercise"
                formControlName="exercise"
                id="exampleRadios3"
                value="1.55"
              />
              <label class="form-check-label" for="exampleRadios3">
                Moderate - 3-5 hours per week
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exercise"
                formControlName="exercise"
                id="exampleRadios4"
                value="1.725"
              />
              <label class="form-check-label" for="exampleRadios4">
                Active - a hour per day
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exercise"
                formControlName="exercise"
                id="exampleRadios5"
                value="1.9"
              />
              <label class="form-check-label" for="exampleRadios5">
                Very Active - 2 hours per day
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <button
            type="submit"
            class="btn btn-primary"
            style="margin-bottom: 30px"
          >
            <span
              class="glyphicon glyphicon-list-alt"
              aria-hidden="true"
            ></span>
            Calculate
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
