<p>Cal in take</p>
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    aria-valuenow="60"
    aria-valuemin="0"
    aria-valuemax="100"
    [style.width]="calProgessBar"
  ></div>
</div>
<p>Protein in take</p>
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    aria-valuenow="60"
    aria-valuemin="0"
    aria-valuemax="100"
    [style.width]="proteinProgessBar"
  ></div>
</div>
<p>Carbohydrate in take</p>
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    aria-valuenow="60"
    aria-valuemin="0"
    aria-valuemax="100"
    [style.width]="carbProgessBar"
  ></div>
</div>
