<div class="row" style="margin-left: 50px">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{ food.name }}</h1>
        <img
          [src]="food.imagePath"
          alt="{{ food.name }}"
          class="img-responsive"
          style="max-height: 200px;"
        />
        <h2 class="card-subtitle mb-2 text-muted">
          <b>Calories </b> {{ food.calories }}
        </h2>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width]="calProgessBar"
              ></div>
            </div>
          </div>
        </div>

        <h4 class="card-text">{{ food.content }}</h4>
        <p class="card-text"><b>Protein </b> {{ food.protein }}</p>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress small-progres-bar">
              <div
                class="progress-bar progress-bar-success"
                role="progressbar"
                [style.width]="proteinProgressBar"
              ></div>
            </div>
          </div>
        </div>
        <p class="card-text"><b>Carbohydrate </b> {{ food.carb }}</p>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress small-progres-bar">
              <div
                class="progress-bar progress-bar-warning"
                role="progressbar"
                [style.width]="carbProgressBar"
              ></div>
            </div>
          </div>
        </div>
        <p class="card-text"><b>Fat </b> {{ food.fat }}</p>
        <div class="row">
          <div class="col-xs-10">
            <div class="progress small-progres-bar">
              <div
                class="progress-bar progress-bar-danger"
                role="progressbar"
                [style.width]="fatProgressBar"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button (click)="onEditFood()" class="btn btn-primary">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit
        </button>
        <button (click)="onDeleteFood()" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
