<div class="row" style="margin-left: 50px">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{ food.name }}</h1>
        <img
          [src]="food.imagePath"
          alt="{{ food.name }}"
          class="img-responsive"
          style="max-height: 200px;"
        />
        <h2 class="card-subtitle mb-2 text-muted">
          Calories: {{ food.calories }}
        </h2>
        <p class="card-text">{{ food.content }}</p>
        <p class="card-text">Protein: {{ food.protein }}</p>
        <p class="card-text">Carbohydrate: {{ food.carb }}</p>
        <p class="card-text">Fat: {{ food.fat }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="button-group">
        <button class="btn btn-success">Save</button>
        <button (click)="onEditFood()" class="btn btn-primary">
          Edit
        </button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
